{
  "overrides": [
    {
      "files": "src/reading_app/static_curriculum/lessons.ts",
      "options": {
        "printWidth": 180
      }
    },
    {
      "files": "src/reading_app/utils/words.ts",
      "options": {
        "printWidth": 180
      }
    }
  ]
}
